    
<h1>Rewards Tracker</h1>
<div class="row-fluid">
  <ul class="thumbnails">
    <% @kids.each do |kid| 
          total_points=0 
          kid.chores.each {|chore| total_points = total_points + chore.points } 
          %>
      <li class="span3">
      <div class="thumbnail">
        <a href="#" class="thumbnail">
          <img alt="<%= kid.name %>" style="width: 250px; height: 250px;" src="<%= kid.image %>">
        </a>
        <div class="caption">
          <h3><%= kid.name %></h3>
          <h4>Points:<%= total_points %></h4>
          <%= link_to '+1 Point', chores_path(kid_id: kid.id, points: 1), method: :post, class: "btn btn-primary" %>
          <%= link_to raw("<i class=icon-star></i>+5 Bonus"), chores_path(kid_id: kid.id, points: 5), method: :post, class: "btn btn-warning" %>

          <!--<p><%= button_to 'Delete', kid, confirm: 'Are you sure?', method: :delete %></p>-->
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>

<br />

<%= link_to 'Add Kid', new_kid_path %>