<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @chore.title %>
</p>

<p>
  <b>Points:</b>
  <%= @chore.points %>
</p>


<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
